---

---

<main class="grid grid-cols-1 gap-20 mx-16 my-20 md:grid-cols-2">
  <div class="m-4">
    <h2 class="text-4xl font-bold mb-4 text-white">
      Qui suis-je - Mon parcours
    </h2>

    <p class="text-sm text-white md:text-base">
      Passionné par l’esthétique et l’expérience utilisateur, je maîtrise le
      webdesign et l’infographie, en mettant l'accent sur la création de visuels
      percutants et fonctionnels. Ma formation en MMI m’a permis d’acquérir des
      compétences solides en conception de sites web, UI/UX design, ainsi qu'en
      création graphique. J’utilise des outils professionnels comme Adobe
      Photoshop, Illustrator, InDesign et Figma pour imaginer et réaliser des
      interfaces modernes et intuitives.
    </p>

    <p class="text-sm text-white md:text-base">
      Mon approche allie créativité et rigueur technique, avec un souci constant
      de répondre aux besoins des utilisateurs et de respecter les standards du
      web. Toujours à l’affût des dernières tendances design, je cherche à
      offrir des solutions visuelles à la fois innovantes et efficaces, adaptées
      aux exigences du projet et aux attentes des clients.
    </p>

    <ul class="text-xs font-bold text-white flex gap-8 mt-10 md:text-lg">
      <li
        class="bg-pink-900 p-2 rounded-xl hover:scale-105 transition-transform"
      >
        Web-Design
      </li>
      <li
        class="bg-pink-900 p-2 rounded-xl hover:scale-105 transition-transform"
      >
        Infographie
      </li>
      <li
        class="bg-pink-900 p-2 rounded-xl hover:scale-105 transition-transform"
      >
        Motion Design
      </li>
    </ul>
  </div>

  <div class="relative">
    <img src="/fond-profil.png" alt="" class="scale-125 md:scale-100" />
    <img
      src="/dragan-png.png"
      alt=""
      class="absolute -top-36 scale-75 md:scale-50 md:-top-[275px]"
    />
  </div>
</main>
